<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>

    <section class="contenedorInicio">
        <nav class="navbar navbar-expand-lg" id="menu">
            <div class="container-fluid">
              <a class="navbar-brand logo" href="#">Lecturama</a>
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/agregar-libro">Agregar libro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/logout">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>

        <div>
            <% if (libros.length === 0) { %>
                <div class="noHayLibros">
                    <img src="img/404.png" alt="error 404 no hay libros">
                    <h1>No hay libros agregados.</h1>
                    <a class="btn" href="/agregar-libro">Agregar</a>
                </div>
            <% } else { %>
                <h1>Listado de libros</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Año</th>
                            <th>Género</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% libros.forEach(libro => { %>
                            <tr>
                                <td><%= libro.id %></td>
                                <td><%= libro.titulo %></td>
                                <td><%= libro.autor %></td>
                                <td><%= libro.anio %></td>
                                <td><%= libro.genero %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <%}%>
        </div>
    </section>

</body>
</html>