<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>

    <section class="contenedorInicio">
        <nav class="navbar navbar-expand-lg" id="menu">
            <div class="container-fluid">
              <a class="navbar-brand logo" href="#">Lecturama</a>
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/agregar-libro">Agregar libro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/logout">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>

        <% if (libros.length === 0) { %>
            <div class="noHayLibros">
                <img src="img/404.png" alt="error 404 no hay libros">
                <h1>No hay libros agregados.</h1>
                <a class="btn" href="/agregar-libro">Agregar</a>
                </div>
        <% } else { %>
                <div class="libros">
                    <% libros.forEach(libro => { %>
                        <div class="libro">
                            <% if (libro.imagen) { %>
                                <img src="<%= libro.imagen %>" alt="Portada del libro" />
                            <% } else { %>
                                <img src="/img/default.jpg" alt="default book">
                            <%}%>
        
                            <div class="libroInfo">
                                <h1>Titulo: <%= libro.titulo %></h1>
                                <p>Descripción: <%= libro.descripcion %></p>
                                <p>Autor: <%= libro.autor %></p>
                                <span>Año: <%= libro.anio %></span>
                                <span>Género: <%= libro.genero %></span>
                            </div>

                            <form action="/eliminar-libro" method="post">
                                <input type="hidden" name="idLibro" value="<%= libro.id %>" >
                                <input type="submit" value="Eliminar">
                            </form>
                        </div>
                    <% }) %>
                </div>
        <%}%>
    </section>

</body>
</html>