<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>

    <section class="contenedorInicio">
        <nav class="navbar navbar-expand-lg" id="menu">
            <div class="container-fluid">
              <a class="navbar-brand logo" href="#">Lecturama</a>
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active hvr-sweep-to-bottom" aria-current="page" href="#">Mis libros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/add-book">Agregar libro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom" href="/logout">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>

          <div>
            <h1>Listado de libros</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Año</th>
                        <th>Género</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (libros.length === 0) { %>
                        <h1>No hay libros registrados.</h1>
                    <% } else { %>
                        <% libros.forEach(libro => { %>
                            <tr>
                                <td><%= libro.id %></td>
                                <td><%= libro.titulo %></td>
                                <td><%= libro.autor %></td>
                                <td><%= libro.anio %></td>
                                <td><%= libro.genero %></td>
                            </tr>
                        <% }) %>
                    <%}%>
                </tbody>
            </table>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </section>

</body>
</html>